*{
  margin: 0;
  padding: 0;
}

.img-rex {
  width: 300px;
}

h1 {
  font-family: "arial", "times new roman";
  font-size: 40px;
  font-weight: bolder;
}

h3 {
  font-family: "arial"
  font-size: 22px
  font-style:italic;
  font-weight: bold;
}
